
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Informacje</h1>

<h4>Strona została stworzona dla osób które mają już dość 
    zapisywania na kartce (które jak wiemy zawsze gdzieś 
    znikają) danych odnośnie swojego pająka. Dzieki nam
    możesz wreście wygodnie zapisywać jakie masz pająki
    w jakim stadium i za jaką cenę je kupiłeś!</h4>


